$color-primary: #7083ff;
$color-secondary: #8983fa;
$color-tertiary: #d182eb;
$color-text: #909cb0;
$color-text-hover: black;
$color-background: #e6f9f1;
$color-green: #1dc681;
$color-gray: #8e9aae;
$color-gray-light: #acb5c3;
$color-gray-dark: #95a1b3;
$color-border: #e6e4e4;
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #fcfbfe;
}

.sidebar {
  width: 251px;
  & .header {
    img {
      width: 30px;
      height: 30px;
    }
  }
}

.header-item {
  text-decoration: none;
  color: $color-text;
  &:focus,
  &:hover {
    span {
      color: $color-primary;
    }
    .header-item-label {
      color: $color-text-hover;
    }
  }
}
.check {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(45deg, $color-secondary, $color-tertiary);
  article {
    color: white;
  }
  .hand {
    .circl {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      span {
        color: $color-secondary;
      }
    }
    img {
      margin-top: 28px;
      width: 75px;
      height: 60px;
    }
  }
}
.your-card {
  width: 90%;
  height: 200px;
  background-image: linear-gradient(80deg, #8983fa, #d87eea);
}
.Visa-card {
  width: 80%;
  height: 200px;
  background-image: linear-gradient(80deg, #8983fa, #d87eea);
}
.main-header {
  height: 100%;
  & .Showing {
    color: $color-gray;
  }
}
.cal {
  article {
    width: auto;
    height: 260px;
  }
}
.first {
  & h5 {
    font-size: 15px;
  }
}
.total {
  & h6 {
    padding-right: 5px;
    margin-top: 7px;
  }
  & h1 {
    font-size: 50px;
  }
}
.number {
  background-color: $color-background;
  width: 100px;
  height: 40px;
  & h6 {
    font-weight: bold;
    font-size: 15px;
    color: $color-green;
  }
}

.second {
  & .expenses {
    & h5 {
      margin-top: 15px;
      padding-left: 30px;
      padding-right: 25px;
      & span {
        font-weight: 900;
        color: $color-gray-light;
        font-size: 1.5rem;
      }
    }
  }
}
.chart-container {
  & .chart-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    span {
      color: $color-gray-dark;
      font-size: 12px;
    }
  }
}
.column-container {
  height: 100%;
  margin-right: 25px;
  margin-top: 20px;
  & .barChart {
    padding-left: 10px;
    padding-right: 10px;
    object-fit: cover;
  }
}

.menu {
  margin-right: 36px;
  margin-left: 10px;
  margin-top: 20px;
  flex-grow: 1;
  height: 80px;
  border-radius: 15px;
  &-item {
    margin: 3px;
    flex-grow: 1;
    &:not(:last-child) {
      border-right: 1px solid $color-border;
    }
    &:focus,
    &:hover {
      .square {
        border: 2.2px solid $color-primary;
        color: $color-primary;
      }
      .menu-item-label {
        color: $color-text-hover;
      }
    }
    &-label {
      font-size: 14px;
      color: $color-text;
      transition: 0.25s ease;
      font-weight: 500;
    }
  }
}

.square {
  width: 27px;
  height: 27px;
  color: $color-text;
  border: 2.2px solid $color-text;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    padding-bottom: 2.5px;
  }
}
.menu-item:hover,
.menu-item:focus {
  background-color: #f1f3ff;
  border-radius: 18px;
}
.bell-icon {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #e0e5ee;
}
.profile-img {
  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}
.w-item {
  width: 50px;
  height: auto;
  border-radius: 50%;
  overflow: hidden;
}
.r-icon {
  border: 1px solid #e0e5ee;
  border-radius: 20px;
  width: 50px;
  height: 50px;
}
@media only screen and (max-width: 936px) {
  .header-item {
    & .square {
      margin-left: 30px;
      padding: 15px;
    }
  }
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fcfbfe;
  overflow-x: hidden;
  transition: width 0.5s;
  & a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: color 0.3s;

    &:hover {
      color: #f1f1f1;
    }
  }
  & .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 20px;
  }
}

.mobile {
  background-color: #fcfbfe;
}
.horizontal-dash {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 4px;
  border-radius: 50px;
  font-weight: bold;
}
.horizontal-dash::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
}
footer {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
.r-activity,
.bar-img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
#card-1 {
  background-image: linear-gradient(45deg, #1f4dac, #3165d6);
}
.exp {
  flex: 1;
}
.button {
  width: 230px;
  padding: 15px 30px;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
  transition: all 0.02s;
  font-weight: bold;
  color: rgb(37, 3, 91);
  z-index: 0;
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}
.button2 {
  width: 70px;
  padding: 10px;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
  transition: all 0.02s;
  font-weight: bold;
  font-size: 12px;
  color: rgb(37, 3, 91);
  box-shadow: 0 0px 7px -5px rgba(0, 0, 0, 0.5);
}
.button:hover,
.button2:hover {
  background: rgb(193, 228, 248);
  color: rgb(37, 3, 91);
}

.button:active,
.button2:active {
  transform: scale(0.97);
}

.hoverEffect {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.hoverEffect div {
  background: rgb(107, 13, 45);
  background: linear-gradient(90deg, rgb(193, 228, 248) 0%, #d182eb 50%, #8983fa 100%);
  border-radius: 40rem;
  width: 15rem;
  height: 12rem;
  transition: 0.4s;
  filter: blur(20px);
  animation: effect infinite 3s linear;
  opacity: 0.5;
}

.button:hover .hoverEffect div {
  width: 8rem;
  height: 8rem;
}

@keyframes effect {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.tran {
  min-width: 460px;
  margin-top: 70px;
}
.p-dialog-content,
.p-dialog {
  background: linear-gradient(45deg, #d2d9f4, #ffffff);
}
.p-paginator {
  margin-top: 20px;
}
.p-dropdown .p-dropdown-label {
  align-items: center;
  justify-content: center;
  padding-left: 8px;
}

.transaction {
  min-width: 450px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 0 6px #d7a0f7;
  border-radius: 20px;
  .avatar {
    overflow: hidden;
    border-radius: 70%;
    width: 110px;
    height: 110px;
    background: linear-gradient(90deg, #937bff, #d7a0f7);
    margin: 0 auto 20px;
    margin-top: -65px;
    box-shadow: 0 0 20px #d7a0f7;
  }
}
.main {
  display: flex;
  flex-direction: column;
  input {
    min-width: 300px;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 0;
  }
  .errorMsg {
    color: red;
    font-size: 0.8rem;
    margin-left: 8px;
    margin-bottom: 0;
  }
  .felid {
    margin-bottom: 20px;
  }
}
